
 <header >
        <nav id="topnav" >
            <ul class="menu">
                <li>
                    <a href = "/">Home</a>
                </li>
                <li>
                    <a href ="/add-form">Add new expenditure</a>
                </li>
                <li>
                    <a href = "/forms">List of expenditures</a>
                </li>
                <li>
                    <a href = "/report">Expense report</a>
                </li>
                
            </ul>
        </nav>
    </header>