<%- include('partials/head.ejs')%>
<body>
    
    <%- include('partials/navigation.ejs')%>
    <div class="main">
        <h1>Home Page</h1>

        <h5>About Page:</h5>
        <p>Web application for managing household money. <p>
    </div>
</body>
</html>